

  @_METHOD_DECORATOR('/_METHOD_NAME')
  @Validated()
  async _METHOD_NAME(_ARGS): Promise<_RETURN_TYPE> {
    const result = _RESULT_TYPE;
    // TODO: Implement business logic here
    return Promise.resolve(result);
  }
1