/*
 * @Description: 插件扩展
 * @Usage: 
 * @Author: xxx
 * @Date: 2020-12-22 15:24:25
 * @LastEditTime: 2024-01-04 07:48:44
 */

import { Plugin, Helper } from "koatty";
import { KoattyTypeORM } from 'koatty_typeorm';
import { App } from '_SUB_PATH/App';

@Plugin()
export class TypeormPlugin {
  run(options: any, app: App) {
    return KoattyTypeORM(options, app);
  }
}