/*
 * @Description: 逻辑实现层
 * @Usage: 
 * @Author: xxx
 * @Date: 2020-12-22 15:24:25
 * @LastEditTime: 2024-01-07 12:50:08
 */

import { Service } from "koatty";
import { App } from '_SUB_PATH/App';
import { I_CLASS_NAME } from '../I_CLASS_NAME';

@Service()
export class _CLASS_NAME implements I_CLASS_NAME {
  app: App;

  test() {
    //todo
  }
}