/*
 * @Description: 逻辑层
 * @Usage: 
 * @Author: xxx
 * @Date: 2020-12-22 15:24:25
 * @LastEditTime: 2023-09-11 10:42:32
 */

import { Service, BaseService } from "koatty";
import { App } from '_SUB_PATH/App';

@Service()
export class _CLASS_NAME extends BaseService implements I_CLASS_NAME  {
  app: App;

  /**
   * constructor
   *
   */
  init() {
    //property
  }

  test() {
    //todo
  }
}