/*
 * @Description: 逻辑层
 * @Usage: 
 * @Author: xxx
 * @Date: 2020-12-22 15:24:25
 * @LastEditTime: 2021-11-21 00:30:14
 */

import { Service, BaseService } from "koatty";
import { App } from '_SUB_PATH/App';

@Service()
export class _CLASS_NAME extends BaseService {
    app: App;

    /**
     * constructor
     *
     */
    init() {
        //property
    }

    test() {
        //todo
    }
}