/*
 * @Description: 逻辑实现层
 * @Usage: 
 * @Author: xxx
 * @Date: 2020-12-22 15:24:25
 * @LastEditTime: 2024-01-04 07:49:00
 */

import { Service } from "koatty";
import { App } from '_SUB_PATH/App';

@Service()
export class _CLASS_NAME {
  app: App;

  test() {
    //todo
  }
}