/*
 * @Description: 逻辑接口层
 * @Usage: 
 * 使用Autowired注入:
   @Autowired()
   _CAMEL_NAME: I_CLASS_NAME;
 * @Author: xxx
 * @Date: 2020-12-22 15:24:25
 * @LastEditTime: 2024-01-04 05:59:30
 */
import { IService } from "koatty";

export interface I_CLASS_NAME extends IService {
  /**
   * @description: 
   * @return {*}
   */
  test(): void;
}